node_modules
src-tauri/target
src-tauri/.cargo
src-tauri/.env
src-tauri/.env.local
src-tauri/.env.development
src-tauri/.env.production
src-tauri/.env.test
src-tauri/.env.*.local
src-tauri/.env.*.development
src-tauri/.env.*.production
src-tauri/.env.*.test

dist
build

.DS_Store
*.log
# *.lock  (keep Cargo.lock and package-lock.json)
*.tmp
*.bak
*.swp
*.swo
.idea